<ion-header>
  <h1>Welcome to Zeronic</h1>
  <ion-searchbar
    (keyup.enter)="search(searchTerms)"
    [(ngModel)]="searchTerms">
  </ion-searchbar>
</ion-header>

<ion-content padding class="">
  <ion-row class="badge-info badge-inline">
    <ion-badge color="secondary-dark">{{message | titlecase}}</ion-badge>
    <ion-badge color="green" *ngIf="nbResult != undefined">{{nbResult | number: ''}} results</ion-badge>
  </ion-row>
  <ion-card *ngFor="let artist of artistsToDisplay" (click)="loadArtistPage(artist)">
    <img src="{{artist.picture_big}}"/>
    <div class="card-title">{{artist.name}}</div>
  </ion-card>
</ion-content>
